body, html {
    height: 100%;
    margin: 0;
}

.portrait-body {    
    background-image: linear-gradient(#ffffff8f, #f3f3f338), 
                    url("images/ocmfountain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;                
    height: 50%;
}

.title {
    position: relative;
    top: 1em;
    line-height: 38px;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.9em;
    font-weight: 100;
    text-align: center;
    text-shadow: 5px 5px 5px #0000005d;
}

.subtitle {
    font-size: .5em;
}

.profilepic {
    position: relative;
    top: 3.5em;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all 1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilepic:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 5px 5px 5px #000000af;
  }

.flex-container {
    display: flex;
    justify-content: center;
  }
  
#redirect {
    display: inline-block;
    border: none;
    width: 8em;
    height: 2.3em;
    margin: 1.9rem;
    background-color: rgba(162, 163, 163, 0.527);
    color: white;
    font-size: 1.5em;
    border-radius: 16px;
    transition: all .5s;
  }

#redirect:hover {
    display: inline-block;
    border: none;
    width: 8em;
    height: 2.3em;
    margin: 1.9rem;
    background-color: rgb(98, 156, 129);
    color: white;
    font-size: 1.5em;
    border-radius: 16px;
    transform: scale(1.1);
  }

footer {
    margin-top: 7.5em;
}

.social {
      height: 40px;
      width: 40px;
      margin: 2em;
  }

.social:hover {
    height: 40px;
    width: 40px;
    margin: 2em;
    transform: scale(1.1);
}

.row {

  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
    width: 530px;
    height: auto;
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} 

